<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY BLOG</title>
</head>
<body>
    <form method="POST">
        <label for="">Username</label>
        <input name="Username" type="text">
        <label for="">mobile</label>
        <input name="mobile" type="text">
        <label for="">address</label>
        <input name="address" type="text">
        <label for="">Email</label>
        <input name="Email" type="text">
        <label for="">passwd</label>
        <input name="passwd" type="text">
        <button>submit</button>
    </form>   
</body>
</html>